<div class="container">
  <h1>Let Them Know!</h1>
  <form class="let_them_know" action="Not sure" method="post">
    <input type="text" name="task[accepted]" value="@user.asker I accepted this!">
    <input type="submit" name="submit_task" value="Submit">
 </form>
 <br>
    <a href="/dashboard">Skip</a>
