<div class="container">
  <h1>Sorry you can't accept this</h1>
  <form class="let_them_know" action="/decline" method="post">
    <input type="text" name="task[accepted]" value="@user.asker I hate you!">
    <input type="submit" name="submit_task" value="Submit">
 </form>
 <br>
    <a href="/dashboard">Skip</a>
