<div class="container">
  <h1>Welcome, Richard</h1>
  <form class="task_creator" action="/post/tasks/new" method="post">
    <input type="text" name="name_doer" placeholder="handle"><br>
    <textarea col="500" rows="8" name="task[notes]" placeholder="Task Notes"> </textarea><br>
    <input type="text" name="task[body]" placeholder="task">
    <input type="date" name="task[goal_time]">
    <input type="submit" name="submit_task" value="Submit">
 </form>
