<div class="container">
  <h1>Welcome, Richard</h1>
  <form class="task_creator" action="/post/tasks/new" method="post">
    <input type="text" name="name_doer" placeholder="handle"> 
    <input type="text" name="name_body" placeholder="task">
  </form>
<div class="section group">
  <div class="col span_1_of_3">
    <h2>Incoming</h2>
      <ul>
          <li>I'm a task!</li>
      </ul>
  </div>
  <div class="col span_1_of_3">
    <h2>Assigned</h2>
      <ul>
          <li>I'm a task!</li>
      </ul>
  </div>
  <div class="col span_1_of_3">
    <h2>Requests</h2>
      <ul>
          <li>I'm a task!</li>
      </ul>
  </div>
</div>
</div>
